/* Global variables */
:root {
  --clr-primary-900: #191826;
  --clr-primary-400: #fa7453;
  --clr-primary-100: #fcfaf9;
  --clr-accent-300: #66e2dc;
  --clr-accent-500: #ffb964;

  --fs-default: 1rem;
  --fs-h1: 2.5rem;
  --fs-h2: 2rem;

  --ff-base: "IBM Plex Sans", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}

/* Reset */

/* A more-intuitive box-sizing model */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Remove default margins */
* {
  margin: 0;
}

/* Make images responsive */
img,
svg,
picture,
iframe {
  max-width: 100%;
  display: block;
}

/* Avoid text overflowing */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Reduce line height for large text */
h1 {
  line-height: 1.2;
}

h2 {
  line-height: 1.25;
}

button,
input,
select,
textarea {
  font: inherit;
}

/* Global style */
body {
  background-color: var(--clr-primary-100);
  color: var(--clr-primary-900);
  font-family: var(--ff-base);
  font-size: var(--fs-default);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  min-height: 100svh;

  display: grid;
  place-content: center;
}

/* Typography */
.intro-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
}

.subscription-title {
  font-size: var(--fs-h2);
}

.price {
  font-size: 4.0625rem;
  font-weight: var(--fw-bold);
}

.type {
  font-size: 1.25rem;
}

/* Button*/
.btn {
  padding: 1em 3em;
  border: none;
  border-radius: 0.7rem;
  cursor: pointer;
  font-weight: var(--fw-bold);
  font-size: 1.125rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.ios-btn {
  background-color: var(--clr-primary-900);
  color: var(--clr-primary-100);
}

.ios-btn::before {
  content: "";
  background-image: url("./assets/icon-apple.svg");
  width: 18px;
  height: 20px;
  display: block;
}

.android-btn {
  background-color: var(--clr-primary-100);
  color: var(--clr-primary-900);
}

.android-btn::before {
  content: "";
  background-image: url("./assets/icon-android.svg");
  width: 17px;
  height: 20px;
  display: block;
}

/* Layout */
.product__content {
  background-color: var(--clr-primary-900);
  background-image: url("./assets/bg-pattern-2.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.app-image {
  width: 15rem;
  /* transform: translate(5rem, -8rem); */
}

.product__subscription {
  background-color: var(--clr-primary-400);
  color: var(--clr-primary-100);
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;

  display: grid;
  gap: 1rem;
}

/* Utility classes */
.has-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
