/* Global variables */
:root {
  /* Colors */
  --clr-primary-900: #191826;
  --clr-primary-400: #fa7453;
  --clr-primary-100: #fcfaf9;
  --clr-accent-300: #66e2dc;
  --clr-accent-500: #ffb964;

  /* Font sizes */
  --fs-default: 1rem;
  --fs-h1: 2.5rem;
  --fs-h2: 2rem;

  /* Font family */
  --ff-base: "IBM Plex Sans", sans-serif;

  /* Font weights */
  --fw-regular: 400;
  --fw-bold: 700;

  /* Padding */
  --content-padding-horizontal: 1rem;
  --content-padding-vertical: 2rem;
}

/* Reset */

/* A more-intuitive box-sizing model */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Remove default margins */
* {
  margin: 0;
}

/* Make images responsive */
img,
svg,
picture,
iframe {
  max-width: 100%;
  display: block;
}

/* Avoid text overflowing */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Reduce line height for large text */
h1 {
  line-height: 1.2;
}

h2 {
  line-height: 1.25;
}

button,
input,
select,
textarea {
  font: inherit;
}

/* Global style */
body {
  background-color: var(--clr-primary-100);
  background-image: url(./assets/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: -25% -25%;
  color: var(--clr-primary-900);
  font-family: var(--ff-base);
  font-size: var(--fs-default);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  min-height: 100svh;

  display: grid;
  place-content: center;
}

/* Typography */
.intro-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  margin-bottom: 1.5rem;
}

.subscription-title {
  font-size: var(--fs-h2);
}

.price {
  font-size: 4.0625rem;
  font-weight: var(--fw-bold);
}

.type {
  font-size: 1.25rem;
}

/* Button*/
.btn {
  padding: 1em 2em;
  border: none;
  border-radius: 0.7rem;
  cursor: pointer;
  font-weight: var(--fw-bold);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.ios-btn {
  background-color: var(--clr-primary-900);
  color: var(--clr-primary-100);
}

.ios-btn::before {
  content: "";
  background-image: url("./assets/icon-apple.svg");
  width: 18px;
  height: 20px;
  display: block;
}

.android-btn {
  background-color: var(--clr-primary-100);
  color: var(--clr-primary-900);
}

.android-btn::before {
  content: "";
  background-image: url("./assets/icon-android.svg");
  width: 17px;
  height: 20px;
  display: block;
}

/* Layout */
.header__logo,
.product__intro {
  padding: var(--content-padding-vertical) var(--content-padding-horizontal);
}

.footer {
  padding: 0 var(--content-padding-horizontal) 4rem;
}

.product__intro {
  margin-bottom: 10rem;
}

.product__content {
  display: grid;
  grid-template-rows: 1fr 0.2fr 1fr;
  margin-bottom: 3rem;
}

.product__showcase {
  background-color: var(--clr-primary-900);
  background-image: url("./assets/bg-pattern-2.svg");
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 0.5rem;
  grid-area: 1 / 1 / 3 / -1;
}

.app-image {
  width: 15rem;
  transform: translate(20%, -25%);
}

.product__subscription {
  background-color: var(--clr-primary-400);
  color: var(--clr-primary-100);
  font-size: 1.125rem;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;

  display: grid;
  gap: 1rem;
  grid-area: 2 / 1 / 4 /-1;
}

.footer {
  padding-top: 0;
  display: grid;
  gap: 2rem;
}

.social-list {
  padding: 0;
  list-style: none;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.social-link {
  color: var(--clr-primary-900);
  font-size: 1.5rem;
}

/* Utility classes */
.has-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 40em) {
  :root {
    --content-padding-horizontal: 2rem;
    --fs-default: 1.125rem;
    --fs-h1: 4rem;
  }

  .product__intro {
    width: 70%;
  }

  .product__content {
    padding: 0 var(--content-padding-horizontal);
    grid-template-columns: minmax(0rem, 2rem) 0.4fr 1fr minmax(0rem, 2rem);
    grid-template-rows: 0.35fr 0.8fr 0.2fr;
    margin-bottom: 6rem;
  }

  .product__showcase {
    grid-area: 1 / 1 / 3 / -1;
    background-position-y: -20%;
  }

  .app-image {
    transform: translate(25%, -15%);
  }

  .product__subscription {
    padding: 2rem;
    max-width: 23rem;
    grid-area: 2 / 3 / -1 / 4;
    z-index: 1;
  }

  .footer {
    grid-template-columns: 1fr 0.6fr;
  }

  .footer__text {
    grid-area: 2 / 1 / 3 / 2;
  }

  .social-list {
    grid-row: span 2;
    justify-self: end;
  }
}
